<p>
  mAdvisor has arrived at a set of prediction rules for the data set.
  Here is the summary of the prediction results along with the rules for prediction
</p>
<div className='col-md-4 pred_disp_block'>
  <h1>6
    <small>
      Strong Predictions
    </small>
  </h1>
  <p>
    Rules leading to a single outcome 100% of the time.
  </p>
</div>

<div className='col-md-4 pred_disp_block'>
  <h1>
    393 <small>Average Predictions </small>
  </h1>
  <p>
    Rules leading to multiple outcomes therefore these signals must be
    considered all together lorem ipsum dollar lorem ipsum dollar lorem ipsum
    dollar lorem ipsum dollar lorem ipsum dollar lorem ipsum dollar
    lorem ipsum dollar lorem ipsum dollar
  </p>
</div>"
