<h4>Overview</h4>

{{blockSplitter}}
<p class = "txt-justify">
{% if num_significant == 1 %}
  {{colname}} is <b>the only significant influencer</b> of {{target}} and displays significant variation
  in distribution of {{target}} categories.
{% else %}
  {{colname}} is one of <b>the most significant influencers</b> of {{target}} and displays significant variation
  in distribution of {{target}} categories.
{% endif %}
{% if top_levels | length  == 1%}
  <b>Segment {{top_levels[0]}} </b> is the largest {{colname}}, accounting for almost<b> {{top_levels_percent|round(1)}}% of the
  total </b>observations.
{% elif top_levels | length  == 2 %}
  <b>Segment {{top_levels[0]}} and segment {{top_levels[1]}}  </b> are the two largest {{plural_colname}}, accounting for
  <b> {{top_levels_percent|round(1)}}% </b> of the total observations.
{% elif top_levels | length >2 %}
  The top {{top_levels | length}} {{plural_colname}} including segment {{top_levels[0]}} and segment {{top_levels[1]}} account for
  <b> {{top_levels_percent|round(1)}}% </b>of the total observations.
{% endif %}
{% if bottom_level_percent >= 0.01 %}
  {% if bottom_levels | length == 1 %}
    <b>Segment {{bottom_levels[0]}}</b> is the smallest with <b>just {{bottom_level_percent}}%</b> of the total observations.
  {% elif bottom_levels | length == 2 %}
    <b>Segment {{bottom_levels[0]}} and segment {{bottom_levels[1]}}</b> are the smallest with <b>just {{bottom_level_percent}}%</b> of the total observations.
  {% elif bottom_levels | length > 2 %}
    The <b>{{bottom_levels| length}} {{plural_colname}}, including segment {{bottom_levels[0]}} and segment{{bottom_levels[1]}}</b> are the smallest with <b>just {{bottom_level_percent}}%</b> of the total observations.
  {% endif %}
{% else %}
  {% if bottom_levels | length == 1 %}
    And, <b>segment {{bottom_levels[0]}}</b> is the smallest with the least number of the total observations.
  {% elif bottom_levels | length == 2 %}
    <b>Segment {{bottom_levels[0]}} and segment {{bottom_levels[1]}}</b> are the smallest with the least number of the total observations.
  {% elif bottom_levels | length > 2 %}
    <b>{{bottom_levels| length}} {{plural_colname}}, including segment {{bottom_levels[0]}} and segment {{bottom_levels[1]}}</b> are the smallest with the least number of the total observations.
  {% endif %}
{% endif %}
</p>
{{blockSplitter}}
<h4>Key segments of {{target}} - {{second_target}}</h4>
{{blockSplitter}}
<p class = "txt-justify">
{% if best_second_share | length ==1 %}
The segment <b> {{levels[best_second_share[0]]}}</b> has the
{% elif best_second_share | length == 2 %}
  The segments <b> {{levels[best_second_share[0]]}} and {{levels[best_second_share[1]]}}</b> have the
{% elif best_second_share | length > 2 %}
  <b>Segment {{levels[best_second_share[0]]}}, segment {{levels[best_second_share[1]]}} and {{best_second_share | length - 2}} other
    {% if best_second_share | length == 3 %}
      segment
    {% else %}
      segments
    {% endif %}
  </b> have the
{% endif %}
<b>highest contribution of {{target}} - {{second_target}}</b>({{second_target_shares[best_second_share[0]] | round(1)}}%)</p>
<h4>Key segments of {{target}} - {{top_target}}</h4>
{{blockSplitter}}
<p class = "txt-justify">
When it comes to <b>{{target}} - {{top_target}},
{% if worst_top_share | length == 1 %}
  segment {{levels[worst_top_share[0]]}}</b> seems to be the <b>least dominant segment</b> since {{top_target_shares[worst_top_share[0]] | round(1)}}%
  of its total observations are into that {{top_target}} category.
{% elif worst_top_share | length == 2 %}
  both segment {{levels[worst_top_share[0]]}} and segment {{levels[worst_top_share[1]]}}</b> seems to be the least dominant segment with {{top_target_shares[worst_top_share[0]] | round(1)}}%
  of their total observations from each of the categories.
{% elif worst_top_share | length > 2 %}
  there are {{worst_top_share|length}} {{plural_colname}} including segment {{levels[worst_top_share[0]]}} and segment {{levels[worst_top_share[1]]}}</b> which are the least dominant segment with {{top_target_shares[worst_top_share[0]] | round(1)}}%
  of their total observations from each of the categories.
{% endif %}
{% if best_top_share | length ==1 %}
  But,<b> segment {{levels[best_top_share[0]]}}</b> has the
{% elif best_top_share | length == 2 %}
  But,<b> segment {{levels[best_top_share[0]]}} and segment {{levels[best_top_share[1]]}}</b> have the
{% elif best_top_share | length > 2 %}
  But, there are <b>{{best_top_share|length}} categories</b>(including segment {{levels[best_top_share[0]]}} and segment {{levels[best_top_share[1]]}}) have the
{% endif %}
<b>highest contribution of {{target}} - {{top_target}}</b> ({{top_target_shares[best_top_share[0]] | round(1)}}%).

{% if levels|length >=3 %}
  {{blockSplitter}}
  {{highlightFlag}}
{% endif %}

<ul>
  {% if levels|length >=3 %}
    {% if best_top_difference | length ==1 %}
      <li>The <b>segment {{levels[best_top_difference[0]]}}</b>, which accounts for <b>{{levels_percentages[best_top_difference[0]] | round(1)}}% of the total </b>observations, has contributed to <b>{{top_target_percentages[best_top_difference[0]] | round(1)}}% of the segment {{top_target}}</b>.
    {% elif best_top_difference | length > 1 %}
      {% if levels_percentages[best_top_difference[0]] - levels_percentages[best_top_difference[1]] >= 20 %}
        <li>The <b>segment {{levels[best_top_difference[0]]}}</b>, which accounts for <b>{{levels_percentages[best_top_difference[0]] | round(1)}}% of the total </b>observations, has contributed to <b>{{top_target_percentages[best_top_difference[0]] | round(1)}}% of the segment {{top_target}}</b>.
      {% else %}
        <li>The <b>segment {{levels[best_top_difference[0]]}} and segment {{levels[best_top_difference[1]]}}</b>, which cumulatively account for <b> {{(levels_percentages[best_top_difference[0]]+levels_percentages[best_top_difference[1]]) | round(1)}}% of the total </b>observations, have contributed to <b> {{(top_target_percentages[best_top_difference[0]]+top_target_percentages[best_top_difference[1]]) | round(1)}}% of the segment {{top_target}}</b>.
      {% endif %}
    {% endif %}

    {% if worst_top_difference|length == 1 %}
      <li>The <b>segment {{levels[worst_top_difference[0]]}}</b> accounts for <b>{{levels_percentages[worst_top_difference[0]] | round(1)}}% of the total</b> observations, but it has contributed to <b>{{top_target_percentages[worst_top_difference[0]] | round(1)}}% of the segment {{top_target}}</b>.</li>
    {% elif worst_top_difference|length == 2 %}
      {% if levels_percentages[worst_top_difference[0]]-levels_percentages[worst_top_difference[1]] >= 20 %}
        <li>The <b>segment {{levels[worst_top_difference[1]]}}</b> accounts for <b>{{levels_percentages[worst_top_difference[1]] | round(1)}}% of the total</b> observations, but it has contributed to <b>{{top_target_percentages[worst_top_difference[1]] | round(1)}}% of the segment {{top_target}}</b>.</li>
      {% else %}
        <li>The <b>segment {{levels[worst_top_difference[0]]}} and {{levels[worst_top_difference[1]]}}</b> cumulatively account for <b>{{(levels_percentages[worst_top_difference[0]]+levels_percentages[worst_top_difference[1]]) | round(1)}}% of the total</b> observations, but it has contributed to <b>{{(top_target_percentages[worst_top_difference[0]]+top_target_percentages[worst_top_difference[1]]) | round(1)}}% of the segment {{top_target}}</b>.</li>
      {%endif%}
    {% endif %}
  {% endif %}
<ul>

</p>
